<div class="container">
  <div>
    <div class="hero">
      <!-- <img
        src="https://images.unsplash.com/photo-1574634534894-89d7576c8259?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60"
        alt="" class="hero-image"> -->
    </div>
  </div>
  <article class="hero-cards pt-5">
    <div class="card-row-item bg-info">
      <div class="text-white p-2">
        <h5>Ending</h5>
        <span>Find deals ending soon</span>
      </div>
      <div>
        <img
          src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt="" class="img-fluid sub-hero-img">
      </div>
    </div>
    <div class="card-row-item bg-warning mx-2">
      <div class="text-white p-2">
        <h5>Misspelt</h5>
        <span>Find deals ending soon</span>
      </div>
      <div>
        <img
          src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt="" class="img-fluid sub-hero-img">
      </div>
    </div>
    <div class="card-row-item bg-success">
      <div class="text-white p-2">
        <h5>Buy it now</h5>
        <span>Find deals ending soon</span>
        <!-- <button class="btn btn-light">Shop Now</button> -->
      </div>
      <div>
        <img
          src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt="" class="img-fluid sub-hero-img">
      </div>
    </div>
    <div class="card-row-item bg-danger ml-2">
      <div class="text-white p-2">
        <h5>Local deals</h5>
        <span>Find deals ending soon</span>
      </div>
      <div>
        <img
          src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
          alt="" class="img-fluid sub-hero-img">
      </div>
    </div>
  </article>
  <div class="grid mt-3 border border-success ">
    <section class="main">
      <span>HOT DEALS</span>
      <div class="cards p-3">
        <div class="card-col-item">
          <div>
            <img
              src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="" class="img-fluid sub-hero-img">
          </div>
          <div>
            <span>Find deals ending soon</span>
            <span>Price</span>
            <p class="m-0 p-0">Countdown here....</p>
            <span>No of bids and bid amount</span>
            <span>Description</span>
          </div>
        </div>
        <div class="card-col-item">
          <div>
            <img
              src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="" class="img-fluid sub-hero-img">
          </div>
          <div>
            <span>Find deals ending soon</span>
            <span>Price</span>
            <p class="m-0 p-0">Countdown here....</p>
            <span>No of bids and bid amount</span>
            <span>Description</span>
          </div>
        </div>
        <div class="card-col-item">
          <div>
            <img
              src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="" class="img-fluid sub-hero-img">
          </div>
          <div>
            <span>Find deals ending soon</span>
            <span>Price</span>
            <p class="m-0 p-0">Countdown here....</p>
            <span>No of bids and bid amount</span>
            <span>Description</span>
          </div>
        </div>
      </div>
    </section>
    <section class="side border border-success">Best Local deals</section>
  </div>
  <div>maybe top selling categories
    <span>card of categories</span>
    <div>scrollable deals by category </div>
  </div>
  <article>most viewed </article>
  <article>Our blog</article>
</div>